# Unify NPV Data

## Setup

In [31]:
%load_ext nb_black

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [32]:
# Import libraries
import pandas as pd
from investing.config.file_paths import output_data, dashboard

## Configure

In [33]:
# File names
input_file_fcf = "npv_fcf.csv"
input_file_div = "npv_dividends.csv"
input_file_insurance = "npv_insurance.csv"
input_file_price = "prices.csv"
output_file = "dashboard_raw.csv"

## Load Data

In [34]:
# Open the files
df_fcf = pd.read_csv(output_data / input_file_fcf)
df_div = pd.read_csv(output_data / input_file_div)
df_ins = pd.read_csv(output_data / input_file_insurance)
df_price = pd.read_csv(output_data / input_file_price)

In [35]:
# Display data
df_fcf.head()

,ticker,name,type,p10_stage1,p10_stage2,p50_stage1,p50_stage2,p90_stage1,p90_stage2,p10_terminal,p50_terminal,p90_terminal,payout_ratio,start_value,discount_rate,npv_p10,npv_p50,npv_p90,risked_npv
0,AAPL,Apple,CashFlow,15,10,5,14,9,4,6,4,2,22,5.57,10,199.009954,102.222515,62.179629,119.245881
1,ACN,Accenture,CashFlow,10,7,4,9,6,3,6,4,2,30,13.23,10,343.448333,196.918431,132.271153,221.483218
2,AMZN,Amazon.com,CashFlow,25,15,5,23,13,3,6,4,2,0,30.00,10,1881.393087,720.358267,314.979964,947.055222
3,BABA,Alibaba,CashFlow,25,15,5,23,13,3,6,4,2,0,10.67,10,669.148808,256.207424,112.027874,336.835974
4,COST,Costco,CashFlow,10,7,4,9,6,3,6,4,2,30,12.12,10,314.632940,180.396930,121.173574,202.900726

In [36]:
# Display data
df_div.head()

,ticker,name,type,p10_stage1,p10_stage2,p50_stage1,p50_stage2,p90_stage1,p90_stage2,p10_terminal,p50_terminal,p90_terminal,payout_ratio,start_value,discount_rate,npv_p10,npv_p50,npv_p90,risked_npv
0,AAL.L,AngloAmerican,Dividend,5,5,3,3,0,0,6,4,2,100,2.89,10,70.672209,46.446096,31.964105,49.369333
1,ALA.TO,AltaGas,Dividend,5,6,0,3,-3,0,6,4,2,100,0.76,10,19.272526,10.714316,7.391403,12.284905
2,AQN,Algonquin,Dividend,9,8,7,6,5,4,6,4,2,100,0.61,10,19.816191,12.840686,9.363731,13.890251
3,AY,Atlantica,Dividend,4,3,2,1,0,-1,6,4,2,100,1.67,10,36.345314,24.109209,17.959193,25.935036
4,BEPC,Brookfield Renewable,Dividend,6,5,4,3,2,1,6,4,2,100,1.23,10,31.428422,20.638145,15.234952,22.254270

In [37]:
# Display data
df_ins.head()

,ticker,name,type,currency,p10_return_on_equity,p50_return_on_equity,p90_return_on_equity,p10_terminal,p50_terminal,p90_terminal,start_value,discount_rate,npv_p10,npv_p50,npv_p90,risked_npv
0,BRK-B,Berkshire Hathaway,Insurance,USD,12.90,9.25,5.60,6,4,2,316350.56,10,545704.71600,276806.740000,142357.75200,317141.436400
1,MFC,Manulife,Insurance,USD,14.50,10.80,1.44,6,4,2,21.97,10,46.68625,24.899333,-1.53790,23.504238
2,MKL,Markel,Insurance,USD,17.38,6.90,2.08,6,4,2,1034.56,10,2943.32320,500.037333,10.34560,1086.115573
3,SLF,SunLife,Insurance,USD,13.28,10.70,4.54,6,4,2,34.78,10,63.29960,38.837667,11.04265,37.837742

### Concatenate NPV Data

In [38]:
# Concatenate dataframes
cols = ['ticker', 'name','npv_p10', 'npv_p50', 'npv_p90','risked_npv']
df=pd.concat([df_fcf.loc[:, cols], df_div.loc[:, cols], df_ins.loc[:, cols]])
df.head()

  ticker        name      npv_p10     npv_p50     npv_p90  risked_npv
0   AAPL       Apple   199.009954  102.222515   62.179629  119.245881
1    ACN   Accenture   343.448333  196.918431  132.271153  221.483218
2   AMZN  Amazon.com  1881.393087  720.358267  314.979964  947.055222
3   BABA     Alibaba   669.148808  256.207424  112.027874  336.835974
4   COST      Costco   314.632940  180.396930  121.173574  202.900726

### Merge NPV with Prices

In [39]:
df_price.head()

   ticker           name      type currency        price
0   AAL.L  AngloAmerican  Dividend      GBP    51.354440
1    AAPL          Apple  CashFlow      USD   155.389999
2     ACN      Accenture  CashFlow      USD   314.625000
3  ALA.TO        AltaGas  Dividend      CAD    22.497653
4    AMZN     Amazon.com  CashFlow      USD  2948.770020

In [40]:
df_price.drop('name', axis=1, inplace=True)
df_out = pd.merge(df, df_price, 'inner', left_on='ticker', right_on='ticker')
df_out.head()

,ticker,name,npv_p10,npv_p50,npv_p90,risked_npv,type,currency,price
0,AAPL,Apple,199.009954,102.222515,62.179629,119.245881,CashFlow,USD,155.389999
1,ACN,Accenture,343.448333,196.918431,132.271153,221.483218,CashFlow,USD,314.625000
2,AMZN,Amazon.com,1881.393087,720.358267,314.979964,947.055222,CashFlow,USD,2948.770020
3,BABA,Alibaba,669.148808,256.207424,112.027874,336.835974,CashFlow,USD,87.669502
4,COST,Costco,314.632940,180.396930,121.173574,202.900726,CashFlow,USD,532.505005

In [41]:
df_out['valuation']=df_out['price']/df_out['risked_npv']

In [42]:
df_out[['price_exceeds_p10','price_exceeds_p50','price_exceeds_p90']] = True
df_out['price_exceeds_p10'] = df_out['price_exceeds_p10'].where(df_out.loc[:, 'price'] > df_out.loc[:, 'npv_p10'],False)
df_out['price_exceeds_p50'] = df_out['price_exceeds_p50'].where(df_out.loc[:, 'price'] > df_out.loc[:, 'npv_p50'],False)
df_out['price_exceeds_p90'] = df_out['price_exceeds_p90'].where(df_out.loc[:, 'price'] > df_out.loc[:, 'npv_p90'],False)

## Save

In [43]:
# Set the correct column order for viewing
cols = [
    'ticker',
    'name',
    'type',
    'currency',
    'npv_p10',
    'npv_p50',
    'npv_p90',
    'risked_npv',
    'price',
    'valuation',
    'price_exceeds_p10',
    'price_exceeds_p50',
    'price_exceeds_p90'
]

In [44]:
# Write back df to csv
df_out = df_out[cols]
df_out.to_csv(dashboard / output_file, index=False)