# Unify NPV Data

## Setup

In [1]:
%load_ext nb_black

In [2]:
# Import libraries
import pandas as pd
from investing.config.file_paths import processed_data, output_data

## Configure

In [3]:
# File names
input_file_fcf = "npv_fcf.csv"
input_file_div = "npv_dividends.csv"
input_file_insurance = "npv_insurance.csv"
input_file_price = "prices.csv"
output_file = "dashboard.csv"

## Load Data

In [4]:
# Open the files
df_fcf = pd.read_csv(processed_data / input_file_fcf)
df_div = pd.read_csv(processed_data / input_file_div)
df_ins = pd.read_csv(processed_data / input_file_insurance)
df_price = pd.read_csv(output_data / input_file_price)

In [5]:
# Display data
df_fcf

,ticker,name,type,p10_stage1,p10_stage2,p50_stage1,p50_stage2,p90_stage1,p90_stage2,p10_terminal,p50_terminal,p90_terminal,payout_ratio,start_value,discount_rate,npv_p10,npv_p50,npv_p90,risked_npv
0,AAPL,Apple,CashFlow,15,10,5,14,9,4,6,4,2,22,5.57,10,199.009954,102.222515,62.179629,119.245881
1,ACN,Accenture,CashFlow,10,7,4,9,6,3,6,4,2,30,13.23,10,343.448333,196.918431,132.271153,221.483218
2,AMZN,Amazon.com,CashFlow,25,15,5,23,13,3,6,4,2,0,30.00,10,1881.393087,720.358267,314.979964,947.055222
3,BABA,Alibaba,CashFlow,25,15,5,23,13,3,6,4,2,0,10.67,10,669.148808,256.207424,112.027874,336.835974
4,COST,Costco,CashFlow,10,7,4,9,6,3,6,4,2,30,12.12,10,314.632940,180.396930,121.173574,202.900726
5,DFS,Discover Financial Services,CashFlow,15,10,5,13,8,3,6,4,2,10,19.33,10,662.876166,320.490054,178.273717,380.540987
6,EBAY,eBay,CashFlow,7,5,3,6,4,2,6,4,2,20,3.39,10,67.694700,40.127270,27.312184,44.552973
7,GOOG,Alphabet,CashFlow,20,15,10,18,13,8,6,4,2,0,100.37,10,5132.374972,2471.340713,1335.667173,2928.948929
8,IAG.L,International Consolidated Airlines Group,CashFlow,0,0,0,0,0,0,6,4,2,0,-0.20,10,-2.043379,-1.336550,-0.983135,-1.442574
9,MA,Mastercard,CashFlow,20,15,10,17,12,7,6,4,2,20,8.75,10,474.351729,225.788685,124.374853,269.933449
10,MELI,MercadoLibre,CashFlow,25,10,-5,23,8,-7,6,4,2,0,7.14,10,358.534313,103.943427,35.876913,159.900739
11,MSFT,Microsoft,CashFlow,10,7,4,8,5,2,6,4,2,30,7.44,10,193.141013,106.325192,68.354061,120.978599
12,NFI.TO,NFI Group,CashFlow,10,7,4,8,5,2,6,4,2,50,0.65,10,18.122592,10.305122,6.951388,11.644243
13,NXPI,NXP Semiconductors,CashFlow,10,7,4,8,5,2,6,4,2,0,7.92,10,182.779093,94.616285,54.860008,109.138244
14,PYPL,PayPal,CashFlow,15,10,5,14,9,4,6,4,2,0,4.63,10,153.233119,76.033850,42.605288,89.165062
15,SAP,Saputo,CashFlow,6,4,3,4,2,1,6,4,2,30,1.25,10,23.794337,14.472203,9.635935,15.817963
16,TDG,TransDigm,CashFlow,12,8,4,11,7,3,6,4,2,0,19.34,10,511.663436,264.967921,154.576979,305.859293
17,V,Visa,CashFlow,25,20,15,22,17,12,6,4,2,20,6.82,10,556.203929,267.311581,147.576067,318.058631

In [6]:
# Display data
df_div

,ticker,name,type,p10_stage1,p10_stage2,p50_stage1,p50_stage2,p90_stage1,p90_stage2,p10_terminal,p50_terminal,p90_terminal,payout_ratio,start_value,discount_rate,npv_p10,npv_p50,npv_p90,risked_npv
0,AAL.L,AngloAmerican,Dividend,5,5,3,3,0,0,6,4,2,100,2.89,10,70.672209,46.446096,31.964105,49.369333
1,ALA.TO,AltaGas,Dividend,5,6,0,3,-3,0,6,4,2,100,0.76,10,19.272526,10.714316,7.391403,12.284905
2,AQN,Algonquin,Dividend,9,8,7,6,5,4,6,4,2,100,0.61,10,19.816191,12.840686,9.363731,13.890251
3,AY,Atlantica,Dividend,4,3,2,1,0,-1,6,4,2,100,1.67,10,36.345314,24.109209,17.959193,25.935036
4,BEPC,Brookfield Renewable,Dividend,6,5,4,3,2,1,6,4,2,100,1.23,10,31.428422,20.638145,15.234952,22.254270
5,BIPC,Brookfield Infrastructure,Dividend,9,8,7,6,5,4,6,4,2,100,2.07,10,67.245109,43.574130,31.775283,47.135769
6,BP.L,BP,Dividend,5,5,4,4,3,3,6,4,2,100,0.22,10,5.379891,3.813333,3.013233,4.043271
7,BTB-UN.TO,BTB REIT,Dividend,-4,-2,-5,-3,-6,-4,6,4,2,100,0.27,10,3.437017,2.539180,2.074169,2.669028
8,CVX,Chevron,Dividend,9,9,7,7,5,5,6,4,2,100,5.31,10,178.949670,115.557618,83.998479,125.107492
9,ENB,Enbridge,Dividend,10,8,8,6,6,4,6,4,2,100,2.64,10,89.524324,57.978526,42.255958,62.725495
10,FTS,Fortis,Dividend,8,8,6,7,4,3,6,4,2,100,1.62,10,50.398405,33.777303,23.144355,35.573749
11,GLEN.L,Glencore,Dividend,11,9,9,7,7,5,6,4,2,100,0.26,10,9.546567,6.158507,4.472045,6.668986
12,GMRE,Global Medical REIT,Dividend,4,3,2,1,0,-1,6,4,2,100,0.80,10,17.410929,11.549322,8.603206,12.423969
13,RIO,Rio Tinto,Dividend,10,9,7,6,4,3,6,4,2,100,7.82,10,275.126643,164.613379,111.721517,181.899799
14,SHEL,Shell,Dividend,6,6,4,4,2,2,6,4,2,100,0.89,10,23.585000,15.426667,11.347500,16.650417
15,T,AT&T,Dividend,2,2,1,0,0,-1,6,4,2,100,2.08,10,39.961288,27.863983,22.368337,29.844481
16,TRP,TC Energy,Dividend,6,6,4,5,2,1,6,4,2,100,2.75,10,72.875000,49.247505,34.061885,51.780067
17,TU,TELUS,Dividend,7,7,5,6,3,2,6,4,2,100,1.01,10,29.001610,19.515656,13.433361,20.536754
18,XOM,Exxon Mobil,Dividend,9,9,7,7,5,5,6,4,2,100,3.49,10,117.614755,75.950299,55.208040,82.226958
19,BK,Bank of New York Mellon Corporation,Dividend,12,10,10,8,8,6,6,4,2,100,1.30,10,51.673841,33.211930,24.033074,35.996847
20,BLK,BlackRock,Dividend,10,8,8,6,6,4,6,4,2,100,16.52,10,560.205240,362.805017,264.419860,392.509537
21,BMO,Bank of Montreal,Dividend,5,4,4,3,3,2,6,4,2,100,3.43,10,80.886496,57.551900,45.620226,60.972777
22,BNS,Bank of Nova Scotia,Dividend,5,4,4,3,3,2,6,4,2,100,2.91,10,68.623820,48.826831,38.704040,51.729091
23,JPM,JPMorgan,Dividend,15,13,12,10,9,7,6,4,2,100,3.80,10,191.370474,112.929349,75.518248,125.238356

In [7]:
# Display data
df_ins

,ticker,name,type,currency,p10_return_on_equity,p50_return_on_equity,p90_return_on_equity,p10_terminal,p50_terminal,p90_terminal,start_value,discount_rate,npv_p10,npv_p50,npv_p90,risked_npv
0,BRK-B,Berkshire Hathaway,Insurance,USD,12.90,9.25,5.60,6,4,2,316350.56,10,545704.71600,276806.740000,142357.75200,317141.436400
1,MFC,Manulife,Insurance,USD,14.50,10.80,1.44,6,4,2,21.97,10,46.68625,24.899333,-1.53790,23.504238
2,MKL,Markel,Insurance,USD,17.38,6.90,2.08,6,4,2,1034.56,10,2943.32320,500.037333,10.34560,1086.115573
3,SLF,SunLife,Insurance,USD,13.28,10.70,4.54,6,4,2,34.78,10,63.29960,38.837667,11.04265,37.837742

### Concatenate NPV Data

In [8]:
# Concatenate dataframes
cols = ['ticker', 'name','npv_p10', 'npv_p50', 'npv_p90','risked_npv']
df=pd.concat([df_fcf.loc[:, cols], df_div.loc[:, cols], df_ins.loc[:, cols]])
df

,ticker,name,npv_p10,npv_p50,npv_p90,risked_npv
0,AAPL,Apple,199.009954,102.222515,62.179629,119.245881
1,ACN,Accenture,343.448333,196.918431,132.271153,221.483218
2,AMZN,Amazon.com,1881.393087,720.358267,314.979964,947.055222
3,BABA,Alibaba,669.148808,256.207424,112.027874,336.835974
4,COST,Costco,314.632940,180.396930,121.173574,202.900726
5,DFS,Discover Financial Services,662.876166,320.490054,178.273717,380.540987
6,EBAY,eBay,67.694700,40.127270,27.312184,44.552973
7,GOOG,Alphabet,5132.374972,2471.340713,1335.667173,2928.948929
8,IAG.L,International Consolidated Airlines Group,-2.043379,-1.336550,-0.983135,-1.442574
9,MA,Mastercard,474.351729,225.788685,124.374853,269.933449
10,MELI,MercadoLibre,358.534313,103.943427,35.876913,159.900739
11,MSFT,Microsoft,193.141013,106.325192,68.354061,120.978599
12,NFI.TO,NFI Group,18.122592,10.305122,6.951388,11.644243
13,NXPI,NXP Semiconductors,182.779093,94.616285,54.860008,109.138244
14,PYPL,PayPal,153.233119,76.033850,42.605288,89.165062
15,SAP,Saputo,23.794337,14.472203,9.635935,15.817963
16,TDG,TransDigm,511.663436,264.967921,154.576979,305.859293
17,V,Visa,556.203929,267.311581,147.576067,318.058631
0,AAL.L,AngloAmerican,70.672209,46.446096,31.964105,49.369333
1,ALA.TO,AltaGas,19.272526,10.714316,7.391403,12.284905
2,AQN,Algonquin,19.816191,12.840686,9.363731,13.890251
3,AY,Atlantica,36.345314,24.109209,17.959193,25.935036
4,BEPC,Brookfield Renewable,31.428422,20.638145,15.234952,22.254270
5,BIPC,Brookfield Infrastructure,67.245109,43.574130,31.775283,47.135769
6,BP.L,BP,5.379891,3.813333,3.013233,4.043271
7,BTB-UN.TO,BTB REIT,3.437017,2.539180,2.074169,2.669028
8,CVX,Chevron,178.949670,115.557618,83.998479,125.107492
9,ENB,Enbridge,89.524324,57.978526,42.255958,62.725495
10,FTS,Fortis,50.398405,33.777303,23.144355,35.573749
11,GLEN.L,Glencore,9.546567,6.158507,4.472045,6.668986
12,GMRE,Global Medical REIT,17.410929,11.549322,8.603206,12.423969
13,RIO,Rio Tinto,275.126643,164.613379,111.721517,181.899799
14,SHEL,Shell,23.585000,15.426667,11.347500,16.650417
15,T,AT&T,39.961288,27.863983,22.368337,29.844481
16,TRP,TC Energy,72.875000,49.247505,34.061885,51.780067
17,TU,TELUS,29.001610,19.515656,13.433361,20.536754
18,XOM,Exxon Mobil,117.614755,75.950299,55.208040,82.226958
19,BK,Bank of New York Mellon Corporation,51.673841,33.211930,24.033074,35.996847
20,BLK,BlackRock,560.205240,362.805017,264.419860,392.509537
21,BMO,Bank of Montreal,80.886496,57.551900,45.620226,60.972777
22,BNS,Bank of Nova Scotia,68.623820,48.826831,38.704040,51.729091
23,JPM,JPMorgan,191.370474,112.929349,75.518248,125.238356
0,BRK-B,Berkshire Hathaway,545704.716000,276806.740000,142357.752000,317141.436400
1,MFC,Manulife,46.686250,24.899333,-1.537900,23.504238
2,MKL,Markel,2943.323200,500.037333,10.345600,1086.115573
3,SLF,SunLife,63.299600,38.837667,11.042650,37.837742

### Merge NPV with Prices

In [9]:
df_price

,ticker,name,type,currency,price
0,AAL.L,AngloAmerican,Dividend,GBP,51.354440
1,AAPL,Apple,CashFlow,USD,155.389999
2,ACN,Accenture,CashFlow,USD,314.625000
3,ALA.TO,AltaGas,Dividend,CAD,22.497653
4,AMZN,Amazon.com,CashFlow,USD,2948.770020
5,AQN,Algonquin,Dividend,USD,15.120000
6,AY,Atlantica,Dividend,USD,34.290001
7,BABA,Alibaba,CashFlow,USD,87.669502
8,BEPC,Brookfield Renewable,Dividend,USD,43.119999
9,BIPC,Brookfield Infrastructure,Dividend,USD,71.000000
10,BK,Bank of New York Mellon Corporation,Dividend,USD,50.490002
11,BLK,BlackRock,Dividend,USD,690.330017
12,BMO,Bank of Montreal,Dividend,USD,115.639999
13,BNS,Bank of Nova Scotia,Dividend,USD,72.221497
14,BP.L,BP,Dividend,GBP,4.745677
15,BRK-B,Berkshire Hathaway,Insurance,USD,328.597198
16,BTB-UN.TO,BTB REIT,Dividend,CAD,3.359025
17,COST,Costco,CashFlow,USD,532.505005
18,CVX,Chevron,Dividend,USD,171.580002
19,DFS,Discover Financial Services,CashFlow,USD,106.610397
20,EBAY,eBay,CashFlow,USD,51.181801
21,ENB,Enbridge,Dividend,USD,44.419998
22,FTS,Fortis,Dividend,USD,47.380001
23,GLEN.L,Glencore,Dividend,GBP,6.732699
24,GMRE,Global Medical REIT,Dividend,USD,15.625000
25,GOOG,Alphabet,CashFlow,USD,2633.510010
26,IAG.L,International Consolidated Airlines Group,CashFlow,GBP,1.750791
27,JPM,JPMorgan,Dividend,USD,130.419998
28,MA,Mastercard,CashFlow,USD,326.799988
29,MELI,MercadoLibre,CashFlow,USD,905.359985
30,MFC,Manulife,Insurance,USD,19.885000
31,MKL,Markel,Insurance,USD,1298.915039
32,MSFT,Microsoft,CashFlow,USD,284.140015
33,NFI.TO,NFI Group,CashFlow,CAD,11.897196
34,NXPI,NXP Semiconductors,CashFlow,USD,180.532806
35,PYPL,PayPal,CashFlow,USD,97.739998
36,RIO,Rio Tinto,Dividend,USD,74.150002
37,SAP,Saputo,CashFlow,USD,108.480003
38,SHEL,Shell,Dividend,USD,51.459999
39,SLF,SunLife,Insurance,USD,53.189999
40,T,AT&T,Dividend,USD,23.434999
41,TDG,TransDigm,CashFlow,USD,632.109985
42,TRP,TC Energy,Dividend,USD,55.505001
43,TU,TELUS,Dividend,USD,26.215000
44,V,Visa,CashFlow,USD,197.910004
45,XOM,Exxon Mobil,Dividend,USD,85.480003

In [10]:
df_price.drop('name', axis=1, inplace=True)
df_out = pd.merge(df, df_price, 'inner', left_on='ticker', right_on='ticker')
df_out

,ticker,name,npv_p10,npv_p50,npv_p90,risked_npv,type,currency,price
0,AAPL,Apple,199.009954,102.222515,62.179629,119.245881,CashFlow,USD,155.389999
1,ACN,Accenture,343.448333,196.918431,132.271153,221.483218,CashFlow,USD,314.625000
2,AMZN,Amazon.com,1881.393087,720.358267,314.979964,947.055222,CashFlow,USD,2948.770020
3,BABA,Alibaba,669.148808,256.207424,112.027874,336.835974,CashFlow,USD,87.669502
4,COST,Costco,314.632940,180.396930,121.173574,202.900726,CashFlow,USD,532.505005
5,DFS,Discover Financial Services,662.876166,320.490054,178.273717,380.540987,CashFlow,USD,106.610397
6,EBAY,eBay,67.694700,40.127270,27.312184,44.552973,CashFlow,USD,51.181801
7,GOOG,Alphabet,5132.374972,2471.340713,1335.667173,2928.948929,CashFlow,USD,2633.510010
8,IAG.L,International Consolidated Airlines Group,-2.043379,-1.336550,-0.983135,-1.442574,CashFlow,GBP,1.750791
9,MA,Mastercard,474.351729,225.788685,124.374853,269.933449,CashFlow,USD,326.799988
10,MELI,MercadoLibre,358.534313,103.943427,35.876913,159.900739,CashFlow,USD,905.359985
11,MSFT,Microsoft,193.141013,106.325192,68.354061,120.978599,CashFlow,USD,284.140015
12,NFI.TO,NFI Group,18.122592,10.305122,6.951388,11.644243,CashFlow,CAD,11.897196
13,NXPI,NXP Semiconductors,182.779093,94.616285,54.860008,109.138244,CashFlow,USD,180.532806
14,PYPL,PayPal,153.233119,76.033850,42.605288,89.165062,CashFlow,USD,97.739998
15,SAP,Saputo,23.794337,14.472203,9.635935,15.817963,CashFlow,USD,108.480003
16,TDG,TransDigm,511.663436,264.967921,154.576979,305.859293,CashFlow,USD,632.109985
17,V,Visa,556.203929,267.311581,147.576067,318.058631,CashFlow,USD,197.910004
18,AAL.L,AngloAmerican,70.672209,46.446096,31.964105,49.369333,Dividend,GBP,51.354440
19,ALA.TO,AltaGas,19.272526,10.714316,7.391403,12.284905,Dividend,CAD,22.497653
20,AQN,Algonquin,19.816191,12.840686,9.363731,13.890251,Dividend,USD,15.120000
21,AY,Atlantica,36.345314,24.109209,17.959193,25.935036,Dividend,USD,34.290001
22,BEPC,Brookfield Renewable,31.428422,20.638145,15.234952,22.254270,Dividend,USD,43.119999
23,BIPC,Brookfield Infrastructure,67.245109,43.574130,31.775283,47.135769,Dividend,USD,71.000000
24,BP.L,BP,5.379891,3.813333,3.013233,4.043271,Dividend,GBP,4.745677
25,BTB-UN.TO,BTB REIT,3.437017,2.539180,2.074169,2.669028,Dividend,CAD,3.359025
26,CVX,Chevron,178.949670,115.557618,83.998479,125.107492,Dividend,USD,171.580002
27,ENB,Enbridge,89.524324,57.978526,42.255958,62.725495,Dividend,USD,44.419998
28,FTS,Fortis,50.398405,33.777303,23.144355,35.573749,Dividend,USD,47.380001
29,GLEN.L,Glencore,9.546567,6.158507,4.472045,6.668986,Dividend,GBP,6.732699
30,GMRE,Global Medical REIT,17.410929,11.549322,8.603206,12.423969,Dividend,USD,15.625000
31,RIO,Rio Tinto,275.126643,164.613379,111.721517,181.899799,Dividend,USD,74.150002
32,SHEL,Shell,23.585000,15.426667,11.347500,16.650417,Dividend,USD,51.459999
33,T,AT&T,39.961288,27.863983,22.368337,29.844481,Dividend,USD,23.434999
34,TRP,TC Energy,72.875000,49.247505,34.061885,51.780067,Dividend,USD,55.505001
35,TU,TELUS,29.001610,19.515656,13.433361,20.536754,Dividend,USD,26.215000
36,XOM,Exxon Mobil,117.614755,75.950299,55.208040,82.226958,Dividend,USD,85.480003
37,BK,Bank of New York Mellon Corporation,51.673841,33.211930,24.033074,35.996847,Dividend,USD,50.490002
38,BLK,BlackRock,560.205240,362.805017,264.419860,392.509537,Dividend,USD,690.330017
39,BMO,Bank of Montreal,80.886496,57.551900,45.620226,60.972777,Dividend,USD,115.639999
40,BNS,Bank of Nova Scotia,68.623820,48.826831,38.704040,51.729091,Dividend,USD,72.221497
41,JPM,JPMorgan,191.370474,112.929349,75.518248,125.238356,Dividend,USD,130.419998
42,BRK-B,Berkshire Hathaway,545704.716000,276806.740000,142357.752000,317141.436400,Insurance,USD,328.597198
43,MFC,Manulife,46.686250,24.899333,-1.537900,23.504238,Insurance,USD,19.885000
44,MKL,Markel,2943.323200,500.037333,10.345600,1086.115573,Insurance,USD,1298.915039
45,SLF,SunLife,63.299600,38.837667,11.042650,37.837742,Insurance,USD,53.189999

In [11]:
df_out['valuation']=df_out['price']/df_out['risked_npv']

In [12]:
df_out[['price_exceeds_p10','price_exceeds_p50','price_exceeds_p90']] = True
df_out['price_exceeds_p10'] = df_out['price_exceeds_p10'].where(df_out.loc[:, 'price'] > df_out.loc[:, 'npv_p10'],False)
df_out['price_exceeds_p50'] = df_out['price_exceeds_p50'].where(df_out.loc[:, 'price'] > df_out.loc[:, 'npv_p50'],False)
df_out['price_exceeds_p90'] = df_out['price_exceeds_p90'].where(df_out.loc[:, 'price'] > df_out.loc[:, 'npv_p90'],False)

## Save

In [13]:
# Write back df to csv
df_out.to_csv(output_data / output_file, index=False)